.hotels-list {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #41522e #e7e7e7;
}

.hotels-list::-webkit-scrollbar {
  width: 2px;
}

.hotels-list::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.hotels-list::-webkit-scrollbar-thumb {
  background: #41522e;
  border-radius: 1px;
}
