body {
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--base_grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100dvh;
  background-color: var(--additional_grey);
}
 #root {
  /* max-width: 1440px; */
  /* min-width: 320px; */
  min-width: 1000px;
  margin: 0 auto;
 }

 @supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}
