/* Цвета */
:root {
  /* базовые цвета */
  --base_grey: #424242;
  --base_white: #ffffff;

  /* дополнительные цвета */
  --additional_danger: #EB1717;
  --additional_brown: #41522E;
  --additional_grey: #F4F4F4;

}
